/********************** ex1 - carousel ******************************/
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .carousel {
  white-space: nowrap;
}

.wrapper {
  max-width: 1070px;
}

.carousel {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
}

.item {
  min-width: 186px;
  height: 160px;
  padding: 10px;
  background-color: #4dc7a0;
  color: #fff;
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.dot-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.dot-container .dot {
  min-width: 10px;
  background-color: lightgrey;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.dot-container .dot:hover {
  background-color: silver;
}

.dot-container .dot.selected {
  background-color: grey;
}


/*************** ex2 ****************************/
.search {
  display: flex;
}

.search-result {
  margin-top: 20px;
}

.person {
  display: flex;
  padding: 10px;
}
.right > * + * {
  margin-top: 3px;
}
.person .name {
  font-weight: 600;
}
.person .address {
  color: gray;
}
.person .category {
  width: fit-content;
  width: -moz-fit-content;
  border: 1px solid silver;
  border-radius: 30px;
  padding: 2px 6px;
  font-size: small;
  color: gray;
}

.person > img {
  width: 70px;
}

#btnAZ, #btnAddress {
  background-color: #4dc7a0;
  color: #fff;
  border: 1px solid #4dc7a0;
  cursor: pointer;
  box-shadow: 0px 3px 5px 1px #999999;
  margin-left: 10px;
}

.inputSearch {
  position: relative;
}

.imgSearch, .imgClose {
  position: absolute;
  width: 10px;
  background-color: #fff;
  border: none;
}

.imgSearch {
  left: 3px;
  top: 2px;
}

.imgClose {
  right: 10px;
  top: 2px;
}

.imgSearch > img, .imgClose > img {
  width: 10px;
}

input[type="text" i]#inputText  {
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #4dc7a0;
  min-height: 20px;
}